#tof-post-deleter-toolbar-button {
	list-style-image: url("chrome://linktargetfinder/skin/toolbar-large.png");
}

#tof-post-deleter-status-bar-icon {
	width: 83px;
	margin: 0 5px;
}

.tof-post-deleter-selected {
	outline: 2px solid red !important;
}